{% extends "base.html" %}
{% load static %}

{% block css_link%}
<link rel="stylesheet" href="{% static 'repository/css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'repository/css/base.css' %}">
<link rel="stylesheet" href="{% static 'repository/css/index.css' %}">
{% endblock css_link %}

{% block title %}App | home{% endblock %}

{% block content %}
<h1>Recursos</h1>
<a href="{% url 'repository:new-img-resource' %}" class="link-new">Subir una imagen</a>
<a href="{% url 'repository:new-audio-resource' %}" class="link-new">Subir un audio</a>
<a href="{% url 'repository:new-link-resource' %}" class="link-new">Guardar un enlace</a>
{% if recurso_lists %}
<ul class="list">
    {% for recurso in recurso_lists %}
    <li class="list__item">
        <h2 class="item__title">{{ recurso.nombre }}</h2>
        <p class="item__description">{{ recurso.descripcion }}</p>
        <p class="item__category">{{ recurso.categoria }}</p>
        
        {% if recurso.get_real_type == 'RecursoImagen' %}
            <div class="list__element">
                <img class="list__thumbnail" src="{{ recurso.recursoimagen.archivo.url }}" alt="miniatura">
            </div>
            <div class="list__link-container">
                <a href="{% url 'repository:detail-recurso-img' pk=recurso.pk %}" class="list__link-resource">Ver</a>
                <a href="#" class="list__link-resource"> Descargar</a>
            </div>
        {% elif recurso.get_real_type == 'RecursoSonido' %}
             <div class="list__element">
                 <audio controls>
                     <source src="{{ recurso.recursosonido.archivo.url }}" type="audio/ogg">
                     Your browser does not support the audio element.
                 </audio>
             </div>
             <div class="list__link-container">
                <a href="{% url 'repository:detail-recurso-audio' pk=recurso.pk %}" class="list__link-resource">Ver</a>
                <a href="#" class="list__link-resource"> Descargar</a>
            </div>
        {% elif recurso.get_real_type == 'RecursoEnlazado' %}
            <div class="list__element">
                <a href="{{ recurso.recursoenlazado.url }}">{{ recurso.recursoenlazado.url  }}</a>
            </div>
            <div class="list__link-container">
                <a href="{% url 'repository:detail-recurso-link' pk=recurso.pk %}" class="list__link-resource">Ver</a>
                <a href="#" class="list__link-resource"> Descargar</a>
            </div>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p class="p">No hay recursos disponibles.</p>
{% endif %}
{% endblock %}


