{% extends "base.html" %}
{% load static %}

{% block css_link%}
<link rel="stylesheet" href="{% static 'repository/css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'repository/css/base.css' %}">
{% endblock css_link %}

{% block title %}App | Mis recursos{% endblock %}
{% block content %}
<h1>Mis recursos</h1>
<a href="{% url 'repository:new-img-resource' %}">Subir una imagen</a>
<a href="{% url 'repository:new-audio-resource' %}">Subir un audio</a>
<a href="{% url 'repository:new-link-resource' %}">Guardar un enlace</a>
{% if recurso_lists %}
<ul>
    {% for recurso in recurso_lists %}
    <li>
        {{ recurso.nombre }} --
        {{ recurso.descripcion }} --
        {{ recurso.categoria }} --
        
        {% if recurso.get_real_type == 'RecursoImagen' %}
            <img class="thumbnail" src="{{ recurso.recursoimagen.archivo.url }}" alt="miniatura">
            <a href="{% url 'repository:edit-img-resource' pk=recurso.pk %}" class="edit">Editar</a>
            <a href="{% url 'repository:delete-img-resource'  pk=recurso.pk %}" class="delete">Eliminar</a>
            <a href="#"> Descargar</a>
        {% elif recurso.get_real_type == 'RecursoSonido' %}
             <audio controls>
                 <source src="{{ recurso.recursosonido.archivo.url }}" type="audio/ogg">
                 Your browser does not support the audio element.
             </audio>
            <a href="{% url 'repository:edit-audio-resource' pk=recurso.pk %}" class="edit">Editar</a>
            <a href="{% url 'repository:delete-audio-resource'  pk=recurso.pk %}" class="delete">Eliminar</a>
            <a href="#"> Descargar</a>
        {% elif recurso.get_real_type == 'RecursoEnlazado' %}
            <a href="{{ recurso.recursoenlazado.url }}">{{ recurso.recursoenlazado.url  }}</a>
            <a href="{% url 'repository:edit-link-resource' pk=recurso.pk %}" class="edit">Editar</a>
            <a href="{% url 'repository:delete-link-resource'  pk=recurso.pk %}" class="delete">Eliminar</a>
            <a href="#"> Descargar</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No hay recursos disponibles.</p>
{% endif %}
{% endblock %}
