{% extends "base.html" %}

{% load static %}

{% block css_link%}
<link rel="stylesheet" href="{% static 'repository/css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'repository/css/base.css' %}">
{% endblock css_link %}

{% block title %}App | Nuevo audio{% endblock %}
{% block content %}
    <a href="{% url 'repository:index' %}" class="back-link">Regresar</a>
    <h1 class="h1">{{ object.nombre | title }}</h1>
    
    <form class="form" id="f1">{% csrf_token %}
        <input type="hidden" id="urlId" value="http://127.0.0.1:8000/xhr/{{ object.pk }}/async-fav/">
        {% if is_fav %}
        <input type="submit" class="submit" id="submit-fav-id" value="Eliminar de Favoritos">
        {% else %}
        <input type="submit" class="submit" id="submit-fav-id" value="Agregar a Favoritos">
        {% endif %}
    </form>
    
    <form class="form" id="f2">{% csrf_token %}
        <input type="hidden" id="urlId-vms" value="http://127.0.0.1:8000/xhr/{{ object.pk }}/async_vms/">
        {% if is_vms %}
        <input type="submit" class="submit" id="submit-vms-id" value="Eliminar de Ver más tarde">
        {% else %}
        <input type="submit" class="submit" id="submit-vms-id" value="Agregar a Ver más tarde">
        {% endif %}
    </form>
    
    <p>
        Nombre: {{ object.nombre }}.
    </p>
    <p>
        Descripci&oacute;n: {{ object.descripcion }}.
    </p>
    <p>
        Propietario del archivo: {{ object.propietario }}.
    </p>
    <p>
        Categor&iacute;a: {{ object.categoria }}.
    </p>
    <p>
        <audio controls>
            <source src="{{ object.archivo.url }}" type="audio/ogg">
                Your browser does not support the audio element.
        </audio>
    </p>
    <a href="{{ object.archivo.url }}" download> Descargar</a>
    <script src="{% static 'repository/js/script.js' %}"></script>
{% endblock %}
