{% extends "base.html" %}
{% load static %}

{% block css_link%}
<link rel="stylesheet" href="{% static 'repository/css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'repository/css/base.css' %}">
<!--<link rel="stylesheet" href="{% static 'repository/css/index.css' %}">-->
{% endblock css_link %}

{% block title %}App | Nueva imagen{% endblock %}
{% block content %}
    <a href="{% url 'repository:my-resources' %}" class="back-link">Regresar</a>
    <h1 class="h1">Subir un nuevo recurso</h1>
    {% if form.errors %}
    {{ form.errors }}
    {% endif %}
    <form method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        {{ field }}
        {% endfor %}
        <input type="submit" value="Guardar" class="form__sumbit">
    </form>
    {% if object %}
     <a href="{% url 'repository:delete-img-resource'  pk=object.pk %}" class="delete">Eliminar</a>
    {% endif %}
{% endblock %}
