{% extends "base.html" %}
{% load static %}

{% block css_link%}
<link rel="stylesheet" href="{% static 'repository/css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'repository/css/base.css' %}">
{% endblock css_link %}

{% block title %}App | Nueva imagen{% endblock %}
{% block content %}
    <h1 class="h1">{{ object.nombre | title }}</h1>
    <a href="{% url 'repository:index' %}" class="back">Regresar</a>
    <p>
        Nombre: {{ object.nombre }}.
    </p>
    <p>
        Descripci&oacute;n: {{ object.descripcion }}.
    </p>
    <p>
        Usuario propietario: {{ object.propietario }}.
    </p>
    <p>
        Categor&iacute;a: {{ object.categoria }}.
    </p>
    <p>
        <img class="thumbnail" src="{{ object.archivo.url }}" alt="miniatura">
    </p>

    {% if is_fav %}
    <p> es favorito</p>
    {% endif %}
    {% if is_vms %}
    <p> es ver mas tarde</p>
    {% endif %}
{% endblock %}
