{% extends "base_generic.html" %}
{% load static %}

{% block title %}Repositorio | Iniciar sesi&oacute;n{% endblock %}
{% block css_link %}
<link rel="stylesheet" href="{% static 'repository/css/style.css' %}">
{% endblock css_link %}
{% block content %}
<h1 class="cabecera">Iniciar sesi&oacute;n</h1>
{% if form.errors %}
<p>Tu usuario y contrase&ntide;a no coinciden. Intente de nuevo.</p>
{% endif %}
<form action="{% url 'login' %}" method="post" class="login-form">
    {% csrf_token %}
    {% for field in form %}
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
	{{ field }}
	{% endfor %}
	<input type="submit" class="form__submit"
                    value="Iniciar sesi&oacute;n">
</form>
<a href="{% url 'password_reset' %}" class="olvido-password">¿Olvidaste tu contrase&ntilde;a?</a> 
<p class="nuevo">¿No ten&eacute;s cuenta? 
    <a href="{% url 'registro' %}" class="registrarse-link">Registrarse ahora.</a>
</p>
{% endblock %}
