{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>SoundApp | Iniciar sesi&oacute;n</title>
    <link rel="stylesheet" href="{% static 'repository/css/login.css' %}">
</head>
<body>
	<h1 class="cabecera">Iniciar sesi&oacute;n</h1>
	{% if form.errors %}
    <p class="error">Tu usuario o contrase&ntilde;a no coinciden.</p>
    {% endif %}
	<form class="form" method="post">
	    {% csrf_token %}
	    {{ form.username }}
	    {{ form.username.errors }}
	    {{ form.password }}
	    {{ form.password.errors }}
		<!--<input type="input" id="username" class="login-form__text"
                     placeholder="Usuario">
		<input type="password" id="password" class="login-form__text"
                     placeholder="Contrase&ntilde;a">-->
		<input type="submit" class="form__submit"
                     value="Iniciar sesi&oacute;n">
	</form>
    <p class="p">
        <a href="#" class="olvido-password">¿Olvidaste tu contrase&ntilde;a?</a>
    </p>
    <p class="p">¿No ten&eacute;s cuenta? 
        <a href="#" class="registrarse-link">Crear una cuenta de usuario.</a>
    </p>
</body>
</html>
