{% extends 'base.html' %}
{% load static %}
{% block css_link %}
<link rel="stylesheet" href="{% static 'repository/css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'repository/css/login.css' %}">
{% endblock css_link %}
{% block title %}SoundApp | Iniciar sesi&oacute;n{% endblock %}
{% block header %}{% endblock header %}
{% block content %}
    {% if next and next != '/' %}
    <p>Primero inicie sesi&oacute;n</p>
    {% endif %}
	<h1 class="cabecera">Iniciar sesi&oacute;n</h1>
	
	{% if form.errors %}
    <p class="error">Por favor, introduzca un nombre de usuario y clave correctos.</p>
    {% endif %}
    
	<form class="form" method="post">
	    {% csrf_token %}
	    {{ form.username }}
	    {{ form.password }}
		<input type="submit" class="form__submit"
                     value="Iniciar sesi&oacute;n">
	</form>
	
    <p class="p">
        <a href="#" class="olvido-password">¿Olvidaste tu contrase&ntilde;a?</a>
    </p>
    <p class="p">¿No ten&eacute;s cuenta? 
        <a href="{% url 'registro' %}" class="registrarse-link">Registrate ahora.</a>
    </p>
{% endblock content %}
