body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.main {
    background-color: #e6e6e6;
    flex-grow: 1;
}

.footer {
    padding: 1em;
    background-color: #292c2f;
    color: white;
}

/*
* Navbar rules.
*/

.nav__menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    background-color: white;
    
    /* La lista tiene un margin y padding por defecto. */
    margin: 0;
    padding: 0;
}

.menu__item {
    text-align: center;
}

.item__link {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: black;
}

.item__link:hover {
    color: #2196f3;
}

.item__link:active {
    color: black;
}

.header__img {
    margin-left: 3em; 
}

.summary {
    list-style: none;
    padding: 15px 20px;
}

.summary:hover {
    color: #2196f3;
}

.menu__item:nth-child(2) {
        position: relative;
}

.dropdown {
    position: absolute;
    min-inline-size: max-content;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
}

details[open] summary::before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
}

@media only screen and (min-width: 600px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
    .nav__menu {
        flex-direction: row;
    }
}

@media only screen and (min-width: 992px) {

} 
