
.list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: .5em 0;
    margin:0;
}

.list__item {
    margin: .5em;
    background-color: white;
    border-radius: 10px;
    flex: 0 0 9em;
    padding: 1em .3em 0;
}

.link-resource {
    text-decoration: none;
    color: #003375;
    display: block;
    text-align: center;
    padding: .5em 0;
    background-color: white;
}

.thumbnail {
    width: 100px
}

@media only screen and (min-width: 600px) {
    .list__item {
        min-width: 400px;
        flex: 0 0 9em;
    }
    
    .link-new {
        display: inline;
        padding: .5em 1em;
    }
    
}

@media only screen and (min-width: 992px) {
    .link-new:hover {
        color: #2196f3;
    }
    
    .list {
        flex-flow: row wrap;
        justify-content: start;
        
    }
}
