.link-new {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    padding: .5em 0;
    margin: .2em;
    background-color: white;
}

.list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill,
    minmax(320px, 1fr));
    grid-gap: 1rem;
    padding: .5em .3em;
}

.list__item {
    background-color: white;
    border-radius: 10px;
    padding: 0 .4em;
}

.list__element {
    min-height: 100px;
}

.list__link-container {
    text-align: center;
    padding: .3em 0;
}

.list__link-resource {
    text-decoration: none;
    color: #003375;
    background-color: white;
    padding: 0 .3em;
}


.list__thumbnail {
    width: 100px;
    height: 100px;
}

@media only screen and (min-width: 600px) {
    .link-new {
        display: inline;
        padding: .5em 1em;
    }
    
}

@media only screen and (min-width: 992px) {
    .link-new:hover {
        color: #2196f3;
    }
}
