body {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex-grow: 1;
}

.footer {
  padding: 1em;
  background-color: #292c2f;
  color: white;
  flex-grow: 1;
  text-align: center;
}


.cabecera {
  text-align: center;
  color: #006bb4;
  font-family: Roboto, sans-serif;
}

.form {
  margin: auto;
  height: 15em;
  border-radius:  .6em;
  font-family: arial;
  display: flex;
  flex-direction:column;
  justify-content: space-evenly;
  align-items: center;
  
}

.form__text {
  display: block;
  width: 90%;
  padding: 0 0 0 .6em;
  height: 2.6em;
  border: .2em solid #d7d7d7;
  border-radius: .6em;
  font-family: Roboto, sans-serif;
  font-size: 1.2em;
  box-sizing: border-box;
}

.form__text:focus {
    outline: 0;
    border: .2em solid #006bb4;
}

.form__submit {
  border: .2em solid #006bb4;
  width: 90%;
  height: 2.6em;
  background-color: #006bb4;
  color: white;
  border-radius: .6em;
  font-family: Roboto, sans-serif;
  font-size: 1.2em;
}

.form__submit:focus {
    outline: 0;
}

.form__submit:active {
  background-color: #01448a;
  border: .2em solid #01448a;
  padding: 0;
}

.olvido-password {
  text-align: center;
  text-decoration: none;
}

.olvido-password:active {
  color: #003375;
}

.olvido-password:visited {
  color: #003375;
}

.p {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 1.2em;
}

.registrarse-link {
  text-decoration: none;
}

.registrarse-link:visited {
  color: #003375;
}

@media only screen and (min-width: 600px) {
  body {
    background-color: white;
  }
  
  .cabecera {
    font-size: 2.1em;
  }
  
  .form{
      width: 25em;
  }
}

@media only screen and (min-width: 992px) {
  .cabecera {
    font-size: 2.4em;
  }
  
  .main {
    flex-grow: 1;
  }

  .footer {
    flex-grow: 0;
  }
  
  .form {
    background-color: #f2f2f2;
  }
  
  .form__submit:hover {
    background-color: #01448a;
    border: .2em solid #01448a;
  }
  
  .form__submit:focus {
    outline: 0;
    background-color: #01448a;
  }

  .form__submit:active {
    background-color: #006bb4;
    border: .2em solid #006bb4;
  }
} 
