{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'repository/css/base.css' %}">
    <title>{% block title %}{% endblock title%}</title>
</head>
<body>
    <header class="header">
        <img  class="header__img" src="logo.png" alt="Logo">
        <nav class="nav">
            <ul class="nav__menu">
                <li class="menu__item">
                    <a class="item__link" href="{% url 'repository:index' %}">Inicio</a>
                </li>
                <li class="menu__item">
                    <a class="item__link" href="{% url 'repository:my-resources' %}">Mis recursos</a>
                </li>
                <li class="menu__item">
                    <details class="details">
                        <summary class="summary">Listas &#8226;</summary>
                        <ul class="dropdown">
                            <li>
                                <a href="#" class="item__link">Favoritos</a>
                            </li>
                            <li>
                                <a href="#" class="item__link">Ver m&aacute;s tarde</a>
                            </li>
                        </ul>
                    </details>
                </li>

<!--
                <li class="menu__item">
                    <a class="item__link" href="#">Favoritos</a>
                </li>
                <li class="menu__item">
                    <a class="item__link" href="#">Ver m&aacute;s tarde</a>
                </li>
-->
                <li class="menu__item">
                    <a class="item__link" href="{% url 'logout' %}">Cerrar sesi&oacute;n</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="main">{% block content %}{% endblock content %}</main>
    
    <footer class="footer">
        <p>© 2021 Grupo no. 7</p>
    </footer>
</body>
</html>
